@font-face {
  src: url("@/assets/noto-sans-kr-bold.otf") format("opentype");
  font-weight: 700;
  font-family: "Noto Sans KR";
  font-style: normal;
}

@font-face {
  src: url("@/assets/noto-sans-kr-regular.otf") format("opentype");
  font-weight: 400;
  font-family: "Noto Sans KR";
  font-style: normal;
}
