.size {
  &-100 {
    font-size: 1rem;
  }
  &-125 {
    font-size: 1.25rem;
  }
  &-150 {
    font-size: 1.5rem;
  }
  &-175 {
    font-size: 1.75rem;
  }
  &-200 {
    font-size: 2rem;
  }
  &-225 {
    font-size: 2.25rem;
  }
  &-250 {
    font-size: 2.5rem;
  }
  &-275 {
    font-size: 2.75rem;
  }
  &-300 {
    font-size: 3rem;
  }
}
