@mixin container($padding-top: 0px, $padding-bottom: 0px) {
  &.container {
    display: flex;
    padding: 0 15rem;
    width: 100%;
    box-sizing: border-box;
    min-width: 1024px;
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
    @content;
  }
}

@mixin sectionCopies($margin-top: 0px, $maincopy-size: 3rem) {
  display: flex;
  flex-direction: column;
  margin-top: $margin-top;
  word-break: keep-all;
  .copy__main-copy {
    p {
      white-space: nowrap;
      font-size: $maincopy-size;
    }
  }
  .copy__sub-copy {
    white-space: nowrap;
    margin-top: 2rem;
    font-weight: 400;
  }
}

@mixin sectionBtn($width: auto, $padding: 1rem 2rem) {
  padding: $padding;
  width: $width;
  border-radius: 0.25rem;
  background-color: $gray100-color;
  font-size: 1.125rem;
  font-weight: 700;
  margin-right: 1rem;
}
