.intro-container {
  @include container();
  margin-top: $header-height;
  display: flex;
  position: relative;
  padding-top: 6rem;
  background-color: $intro-section-bg-color;
  .intro__copy {
    @include sectionCopies(12.5rem);
  }
  .intro__img {
    position: relative;
    height: 685px;
  }
}
