.intro {
  @include container($padding-top: 6rem);
  margin-top: $header-height;
  display: flex;
  position: relative;
  background-color: $intro-section-bg-color;
  .intro__copy {
    @include sectionCopies(12.5rem);
  }
  .intro__img {
    position: relative;
    height: 685px;
  }
}
