.market-more {
  @include container($padding-top: 4rem, $padding-bottom: 4rem) {
    justify-content: space-between;
    background-color: $market-more-section-bg-color;
  }
  .market-more__img {
    height: 684px;
  }
  .market-more__copy {
    @include sectionCopies(16rem, 2.5rem);
  }
  .market-more__btns {
    display: flex;
    margin-top: 2rem;
    .btns__popular-sales-more-btn,
    .btns__about-more-btn {
      @include sectionBtn();
    }
  }
}
