.trending-keywords {
  @include container($padding-top: 3rem, $padding-bottom: 3rem) {
    flex-direction: column;
  }
  &__more-link {
    padding-bottom: 1rem;
    color: $black-color;
    font-weight: 700;
  }
  &__keywords {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    width: 100%;
    min-width: 1024px;
    list-style: none;
    .keywords__keyword > a {
      text-decoration: none;
      color: $black-color;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
